@import url("https://fonts.googleapis.com/css?family=Poppins:500,600");
@import url("style-guide.css");
@import url("navbar.css");

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.overlap-group6 {
  align-self: flex-end;
  height: 60%;
  margin-right: 19px;
  margin-top: 16px;
  position: relative;
  width: 90%;
}

.overlap-group5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.overlap-group4 {
  height: 555px;
  position: relative;
}

.overlap-group-1 {
  height: 435px;
  left: 440px;
  position: absolute;
  top: 62px;
  width: 309px;
}

.rectangle {
  height: 285px;
  left: 12px;
  object-fit: cover;
  position: absolute;
  top: 79px;
  width: 285px;
}

.rectangle-1 {
  height: 218px;
  left: 91px;
  object-fit: cover;
  position: absolute;
  top: 217px;
  width: 218px;
}

.rectangle-3 {
  height: 113px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 51px;
  width: 113px;
}

.rectangle-2 {
  height: 123px;
  left: 75px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 123px;
}

.background-play {
  height: 70%;
  left: 593px;
  position: absolute;
  top: 86px;
	width: 650px;
}

.space {
  background-color: var(--light);
  border-radius: 18px;
  box-shadow: 0px 4px 20px #00000040;
  height: 431px;
  left: 0;
  position: absolute;
  top: 62px;
  width: 89%;
}

.button-play {
  height: 555px;
  left: 750px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 660px;
}

.title {
  left: 57px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 211px;
  width: 393px;
}

.flex-row {
  align-items: flex-start;
  display: flex;
	flex-wrap: wrap;
  margin-top: 18px;
  min-width: 1008px;
}

.servizi {
  align-items: flex-end;
  display: flex;
  height: 382px;
  justify-content: flex-end;
  min-width: 464px;
}

.overlap-group1 {
  height: 418px;
  margin-bottom: -35.5px;
  position: relative;
  width: 558px;
}

.rectangle-500 {
  background-color: var(--light);
  border-radius: 18px;
  box-shadow: 0px 4px 20px #00000040;
  height: 382px;
  left: 27px;
  position: absolute;
  top: 0;
  width: 438px;
}

.lady-doctor {
  height: 300px;
  left: 258px;
  position: absolute;
  top: 107px;
  width: 300px;
}

.scopri-i-nostri-servizi {
  left: 12px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 62px;
  width: 464px;
}

.man-walking-dogs {
  height: 269px;
  left: 0;
  position: absolute;
  top: 148px;
  width: 408px;
}

.e-commerce {
  align-items: flex-end;
  display: flex;
  height: 382px;
  justify-content: flex-end;
  margin-left: 80px;
  min-width: 464px;
}

.overlap-group2 {
  height: 420px;
  margin-bottom: -37.5px;
  position: relative;
  width: 512px;
}

.rectangle-501 {
  background-color: var(--light);
  border-radius: 18px;
  box-shadow: 0px 4px 20px #00000040;
  height: 382px;
  left: 0;
  position: absolute;
  top: 0;
  width: 438px;
}

.girl-and-boy-sitting {
  height: 230px;
  left: 51px;
  position: absolute;
  top: 168px;
  width: 333px;
}

.scopri-il-nostro-e-commerce {
  left: 21px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 63px;
  width: 394px;
}

.casual-life-3d-cat-on-books-1 {
  height: 98px;
  left: 51px;
  object-fit: cover;
  position: absolute;
  top: 231px;
  width: 117px;
}

.casual-life-3d-shopp {
  height: 307px;
  left: 288px;
  object-fit: cover;
  position: absolute;
  top: 112px;
  width: 224px;
}

.classifica {
  align-items: flex-end;
  display: flex;
  height: 208px;
  justify-content: center;
  left: 1088px;
  min-width: 399px;
  position: absolute;
  top: 653px;
}

.overlap-group3 {
  height: 245px;
  margin-bottom: -37px;
  position: relative;
  width: 521px;
}

.rectangle-5 {
  height: 245px;
  left: 276px;
  mix-blend-mode: exclusion;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 245px;
}

.classifica-1 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 74px;
  width: 399px;
}

.rectangle-502 {
  background-color: var(--light);
  border-radius: 18px;
  box-shadow: 0px 4px 20px #00000040;
  height: 208px;
  left: 72px;
  position: absolute;
  top: 0;
  width: 377px;
}
